<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    </style>
  </head>
  <body>
    <a href="<%= @url %>"><%= @url %></a>
    <br/>
    <br/>
    <a href="<%= @expected_image_url %>"><%= @expected_image_url %></a>
  </body>
</html>
