<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      input {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="myfile"/>
      <br/>
      <br/>
      <br/>
      <input type="submit" value="Upload!"/>
    </form>
  </body>
</html>
