<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      input {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="myfile"/>
      <br/>
      <br/>
      <select name="mode">
        <option value="mean">Mean</option>
        <option value="median">Median</option>
        <option value="max">Max</option>
        <option value="min">Min</option>
      </select>
      <br/>
      <br/>
      <select name="align">
        <option value="true">Align</option>
        <option value="false">No Align</option>
      </select>
      <br/>
      <br/>
      <select name="fps">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <br/>
      <br/>
      <input type="submit" value="Upload!"/>
    </form>
  </body>
</html>
